@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--line-color: #e5e7eb;
}

html.dark {
	--line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
	@apply border border-black/10;
}

.dark .swiper-pagination-bullet-active {
	background-color: #fff !important;
}

.dark .swiper-pagination-bullet {
	background-color: #ffffffaf !important;
}

.swiper-pagination-bullet-active {
	background-color: rgba(3, 7, 18, 0.479) !important;
}
